.banner {
    background: url(https://www.practostatic.com/web-assets/home/assets/images/homepage.06859593240c3efd483fe48951cfe6ff.svg) top no-repeat;
    min-height: 460px;
    background-attachment: fixed;
    /* background-position-y: 60px; */
}
.banner>div{
    margin-top: 110px;
}
.upperHead{
    text-align:center ;
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    padding-top: 20px;
}
.upperHead+p{
    /* justify-content:middle ; */
    text-align: center;
    color:white;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
}
