*body{
    font-family:Camphor,sans-serif;;
}
#container1{
    background-color: rgb(195, 245, 245);
}
.images>img{
    width: 1024px;
    opacity: 1;
    transform: translate3d(180px, 0px, 0px);
    /* position: relative; */

}
/* .abc{
    width: 100%;
    background-color: rgb(195, 245, 245);
}
.images{
    display: flex;
    overflow: hidden;
} */
.leftArrow{
    position:fixed;
    transform: rotate(135deg);
    height: 20px;
    width: 20px;
    opacity: .4;
    border-right: 1px solid #34422d;
    border-bottom: 1px solid #34422d;
    margin-top: 100px;
    margin-left:10px;
    cursor:pointer;
}
 .rightArrow{
    position:fixed;
    transform: rotate(-45deg);
    height: 20px;
    width: 20px;
    opacity: .4;
    border-right: 1px solid #34422d;
    border-bottom: 1px solid #34422d;
    margin-top:100px;
    margin-left: 95%;
    cursor:pointer;
 }
 .browseMedicines{
     color:#2d2d32;
     font-size: 24px;
     font-weight: 700;
     margin-left: 10%;
 }
 .container2{
     display: flex;
     gap:30px;
     margin-left: 10%;
     margin-top: 10px;
 }
 .container2>img{
    
    width:280px;
    border-radius: 5px;
    transition: transform .2s ease-in-out;
    cursor: pointer;
 }
 /* .container2>img:hover{
    width:320px;
 } */