/* * {
    font-family: Camphor, Helvetica, Arial, sans-serif;
    color: #303033;
} */

#first_div>div:nth-child(1) {
    width: 100%;
    height: 572px;
    background-color: #f8f8fb;
    display: flex;
    justify-content: center;
    align-items: center;
}

#first_div>div:nth-child(1)>div {
    display: flex;
    justify-content: space-between;
    width: 33%;
}

#download_image>img {
    width: 332px;
    height: 376px;
}

#download_image+div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 376px;
    width: 50%;
    font-size: 15px;
}

#download_image+div>p {
    font-size: 32px;
    font-weight: 700;
    margin: initial;
    color: #414146;
}

#download_image+div>div>span {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 12px;
}

#download_image+div>div>div {
    display: flex;
}

#contact_number {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgba(180, 180, 190, .3);
    width: 254px;
    height: 47px;
    border-radius: 4px;
    margin-right: 10px;
}

#contact_number>div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(180, 180, 190, .3);
    height: 100%;
    width: 50px;
}



#contact_number>input {
    outline: none;
    border: none;
    font-weight: 700;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#contact_number+button {
    display: inline-block;
    width: 123px;
    height: 50px;
    background-color: #14bef0;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

#download_image+div>div>img {
    margin: 30px 10px 0 0;
    width: 130px;
    height: 40px;
}

footer {
    background-color: #28328c;
    width: 100%;
    padding: 48px 0;
    color: #fff;
    font-size: 14px;
}

#top_footer {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    gap: 20px;
    margin: auto;
    width: 90%;
}

#top_footer>div {
    /* border: 1px solid salmon; */
    /* margin: auto; */
}

#top_footer>div>p>b,
#top_footer>div>div>p>b {
    color: #fff;
    font-size: 14px;
    line-height: 25px;
    text-decoration: none;
}

#top_footer>div>p,
#top_footer>div>div>p {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    margin: 0;
}

#top_footer>div>p:hover,
#top_footer>div>div>p:hover {
    text-decoration: underline;
}

#top_footer>div>div {
    margin-bottom: 15px;
}

#bottom_footer {
    width: 90%;
    margin: auto;
    text-align: center;
    height: 125px;
    margin-top: 30px;
}

#bottom_footer>img {
    margin: 17px;
}

#bottom_footer>p {
    color: #b8bbd9;
    font-weight: 700;
}

@media all and (max-width:1249px) {
    #first_div{
        background-color: #f0f0f5;
        padding: 16px;
    }
    #first_div>div:nth-child(1) {
        width: 100%;
        height: auto;
        background-color: #f0f0f5;
        border-bottom: 1px solid #eaeaea;
    }

    #first_div>div:nth-child(1)>div:nth-child(1) {
        height: 208px;
        width: 100%;
        border-bottom: 1px solid #d4d4d4;
    }

    #first_div>div:nth-child(1)>div>img {
        display: inline-block;
        margin: auto;
    }

    #first_div>div:nth-child(1)>div:nth-child(2) {
        border: 0;
        display: block;
    }

    #first_div>div:nth-child(2){
        display: flex;
        padding-top: 16px;
        align-items: center;
    }

    #first_div>div:nth-child(2)>img {
        width: 40px;
        height: 40px;
        border-radius: 4px;
        margin-right: 10px;
    }

    #first_div>div:nth-child(2)>div {
        display: flex;
        width: 50%;
        flex-wrap: wrap;
        align-items: center;
    }

    #first_div>div:nth-child(2)>div>p {
        font-size: 18px;
        font-weight: 700;
        margin: 0;
    }

    #first_div>div:nth-child(2)>div>span {
        font-size: 14px;
    }

    #first_div>div:nth-child(3) {
        display: block;
        height: auto;
        border: 0;
        padding-top: 0;
        font-size: 14px;
    }

    #first_div>div:nth-child(3)>p>span {
        color: #14bef0;
        font-size: 18px;
        font-weight: 700;
    }

    #first_div>div:nth-child(4) {
        display: flex;
        width: 100%;
        margin: auto;
    }

    #first_div>div:nth-child(4)>button {
        width: 100%;
        height: 46px;
        background-color: #28328c;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        border: 0;
        margin: 0 16px;
        border-radius: 4px;
    }

    footer {
        background-color: #fff;
        padding: 15px;
    }

    footer>div {
        margin: auto;
    }

    footer>div>div,#footer_logo+div {
        height: 46px;
        font-size: 15px;
        padding: 15px;
        color: #302f34;
        background-color: #f0f0f5;
        margin-bottom: 2px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    footer>div>div>p{
        margin: 0;
    }

    footer>div>div>p+span{
        font-size: 18px;
        font-weight: bold;
    }

    .hide_content{
        font-size: 14px;
        width: 100%;
        margin-left: 25px;
        line-height: 30px;
        display: none;
    }

    .hide_content > p{
        margin: 0;
    }

    .hide_content > p:nth-child(1){
        margin-top: 20px;
    }

    #footer_logo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px 25px 20px;
    }

    #footer_logo>img{
        height: 50px;
    }

    #footer_logo+div>span{
        font-size: 12px;
        margin: auto;
        margin-bottom: 0px;
    }
}