.signup-menu{
        width:45%;
        margin-left:auto;
        margin-right: auto;
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
 
 }
 .signup-menu>a{
        display: flex;
}
 .signup-menu>a>input{
        width:30%;
        margin:auto;
        font-family: Arial, sans-serif;
        font-size: 1.2vw;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
        padding-left: 0;
        padding-right: 0;
        border:none ;
        background-color: white;
        cursor: pointer;
        
 }
 .signup-menu>a>input:hover{
         font-weight: 700;
         color: #14bef0;
         border-bottom: 3px solid #14bef0
         ;
 }
 .signup-ul{
         width: 65%;
         border: .5px solid gainsboro;
         margin-left: auto;
         margin-right: auto;
 }
 .signup-maindiv{
         width: 65%;
         margin-left:auto;
         margin-right: auto;
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         margin-top: 4vw;  
 }
 .signup-maindiv>div{
         width:100%;
 }
 
 .signup-maindiv>div>img{
         width:90%;
         margin-left: auto;
         margin-right: auto;
         margin-top: 2vw;
         margin-bottom: 2vw;
 }
 .signup-form{
         margin:1.5vw;
         border:1px solid  gainsboro;
         display:flex;
         flex-direction: column;
         padding:2vw;
         font-family: Arial,sans-serif;
         color: rgb(88, 84, 84);
         font-weight: 500;
 }
 .signup-form>p{
         font-size: 1vw;
         margin-bottom: .5vw;
      
 }
 .signup-form>input{
         height: 2.6vw;
         outline: none;
 }
 .signup-form>input:focus{
        height: 2.6vw;
         border: 1px solid #14bef0;
 }
 .signup-form>div{
         display: flex;
         flex-direction: row;
 }
 .signup-form>div>input{
         margin-top: 1.3vw;
         margin-bottom: 1vw;
         height:1vw;
 }
 
 .signup-form>div>label{
         font-size: .8vw;
         margin-left: .8vw;
         margin-top: 1.5vw;
         color: rgb(118, 118, 118);
 }
 input[type=checkbox] {
         position: relative;
               cursor: pointer;
    }
    input[type=checkbox]:before {
         content: "";
         display: block;
         position: absolute;
         width: 1.5vw;
         height: 1.5vw;
         top: 0;
         left: 0;
         border: 1px solid #555555;
         border-radius:0;
         background-color: white;
 }
    input[type=checkbox]:checked:after {
         content: "";
         display: block;
         width: .5vw;
         height: .9vw;
         border: solid #077191;
         border-width: 0 2px 2px 0;
         -webkit-transform: rotate(45deg);
         -ms-transform: rotate(45deg);
         transform: rotate(45deg);
         position: absolute;
         top: .3vw;
         left: .6vw;
         
 }
 .signup-form>input[type=button]{
         height: 8vh;
         background-color: #14bef0;
         border: #14bef0;
         border-radius: .5vh;
         font-size: 1.2vw;
         color: white;
         margin-top: 1vw;
         cursor: pointer;
 }
 .signup-form>input[type=button]:active{
         height: 8vh;
         background-color: #4ac2e7;
         border:1px solid #000000;
         border-radius: .5vh;
         font-size: 1.2vw;
         color: white;
         margin-top: 1vw;
         cursor: pointer;
 }
 @media only screen and (max-width: 748px) {
        .signup-maindiv{
                width: 65%;
                margin-left:auto;
                margin-right: auto;
                display:grid;
                flex-direction: column;
                margin-top: 2vw;  
        } 
        .signup-maindiv>div>img{
               width:100%;
               margin-left: auto;
               margin-right: auto;
               margin-top: 2vw;
               margin-bottom: 2vw;
              
       }
       .signup-form{
               margin:1.5vw;
               border:1px solid  gainsboro;
               display:flex;
               flex-direction: column;
               padding:2vw;
               font-family: Arial,sans-serif;
               color: rgb(88, 84, 84);
               font-weight: 500;
               
       }
       .signup-form>p{
               font-size: 2vw;
               margin-bottom: .5vw;
            
       }
       .signup-form>input{
               height: 2.6vw;
       }
       .signup-form>div{
               display: flex;
              flex-direction: row;
       }
       .signup-form>div>input{
               margin-top: 1.3vw;
               margin-bottom: 1vw;
               height:1vw;

       }
       .signup-form>div>label{
               font-size:1.25vw;
               margin-left:.5vw;
               margin-top: 1.5vw;
               color: rgb(118, 118, 118);
               text-align:left;
       }      
}